body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
}

.container {
    width: 50%;
    margin: 50px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}

input {
    margin-bottom: 20px;
}

button {
    background: #0066ff;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #004bcc;
}
